@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.button {
  box-sizing: border-box;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  min-height: 56px;
}

.navigation {
  position: relative;
}

.navigation__logo-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigation__button-toggle {
  background-image: url("../img/icon-toggle.svg");
  width: 23px;
  height: 22px;
  border: none;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #81b3d2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.navigation__item {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.navigation__item:first-child {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
.navigation__item:last-child {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.navigation__link {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 17px 0 12px 0;
}

.promo {
  position: relative;
  box-sizing: border-box;
  min-height: 158px;
  background-color: #81b3d2;
  background-image: url("../img/back-main-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 52px;
  padding-bottom: 67px;
  text-align: center;
}
.promo--main {
  min-height: 389px;
  padding-top: 90px;
  padding-bottom: 85px;
}
.promo::before {
  position: absolute;
  background-image: url("../img/divider.svg");
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
  content: "";
}

.inform {
  padding: 32px 18px 33px 18px;
  text-align: center;
}

.inform__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.inform__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.advantages {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  position: relative;
  box-sizing: border-box;
  color: #ffffff;
}
.advantages::before {
  position: absolute;
  background-image: url("../img/divider-second.svg");
  top: 0;
  left: 0;
  right: 0;
  height: 37px;
  content: "";
}

.advantages__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__inform {
  box-sizing: border-box;
  min-height: 211px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  padding: 37px 18px;
}
.advantages__inform--divider {
  padding: 54px 18px 40px 18px;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 17px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 18px 28px 18px;
}
.advantages__list--icon {
  padding: 23px 18px 46px 18px;
}
.advantages__list--numbers {
  background-color: #eeeeee;
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.advantages__item--border {
  padding: 24px 8px;
}
.advantages__item--border:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}
.advantages__item--icon {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 7px;
  padding: 0;
  border-bottom: 0;
}
.advantages__item--icon:not(:last-child) {
  margin-bottom: 25px;
}
.advantages__item--housing::before {
  background-image: url("../img/icon-house.svg");
  width: 40px;
  height: 40px;
  content: "";
}
.advantages__item--food::before {
  background-image: url("../img/icon-food.svg");
  width: 40px;
  height: 40px;
  content: "";
  background-repeat: no-repeat;
}
.advantages__item--present::before {
  background-image: url("../img/icon-present.svg");
  width: 40px;
  height: 40px;
  content: "";
}

.advantages__item-title {
  margin-bottom: 9px;
  color: #000000;
}

.advantages__item-number {
  padding-bottom: 22px;
  color: #333333;
}

.advantages__item-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  grid-column-start: -1;
  grid-column-end: -2;
}

.interests {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 38px 18px 49px 18px;
}

.interests__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.interests__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}

.interests__link-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  min-width: 284px;
  min-height: 58px;
  padding: 16px 49px;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 28px 18px 23px 18px;
}

.footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 33px;
  text-decoration: none;
}

.footer__social {
  margin-bottom: 40px;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__social-item:not(:last-child) {
  padding-right: 6px;
}

.footer__social-button {
  background-color: #81b3d2;
  padding: 12px;
  display: inline-block;
  box-sizing: border-box;
  height: 48px;
  width: 48px;
}

.footer__copyright-link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__copyright-logo {
  margin-left: 12px;
}

.catalog {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.catalog__title {
  margin-bottom: 15px;
}

.catalog__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 45px;
  display: grid;
  align-items: center;
}

.catalog__video {
  padding-top: 17px;
}

.catalog__video-title {
  margin-bottom: 27px;
}

.catalog__video-image {
  margin-top: 38px;
}

.catalog__card {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.card {
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 0 25px 0;
}
.card:first-child {
  border-top: 1px solid #e5e5e5;
}

.card__image {
  margin-bottom: 15px;
}

.card__description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}

.card__title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 1px 0;
}

.card__author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 11px;
  text-align: left;
}

.like-button__counter {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.feedback-form {
  margin-top: 36px;
  margin-bottom: 24px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
}

.feedback-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 24px 0;
  text-transform: uppercase;
  text-align: center;
}

.feedback-form__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 28px;
  text-transform: uppercase;
  text-align: center;
}

.feedback-form__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: 0 0 39px 0;
  border: none;
}
.feedback-form__group--introduction {
  margin-bottom: 23px;
}
.feedback-form__group--contacts {
  margin-bottom: 18px;
}

.feedback-form__group-title {
  margin-bottom: 20px;
  text-align: center;
}

.feedback-form__field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form__label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  padding-left: 16px;
}
.feedback-form__label--action {
  padding-left: 62px;
}

.feedback-form__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  font-family: inherit;
  background-color: #f2f2f2;
  padding: 16px;
  color: #000000;
  border: none;
}
.feedback-form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.feedback-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.feedback-form__item {
  display: flex;
  align-items: center;
  min-height: 46px;
}
.feedback-form__item:not(:last-child) {
  margin-bottom: 16px;
}

.feedback-form__item-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback-form__mark {
  position: absolute;
  left: 0;
  top: -12px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  content: "";
}
.feedback-form__mark--radio {
  border-radius: 50%;
}
.feedback-form__mark--checkbox {
  border-radius: 4px;
}

.feedback-form__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  font-family: inherit;
  padding: 16px;
  border: none;
}
.feedback-form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.feedback-form__group-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.feedback-form__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 16px 49px 16px;
  width: 280px;
  height: 58px;
  font-family: inherit;
  border: none;
  margin-bottom: 3px;
}

.feedback-form__text-required {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
}

.modal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin: 0 auto;
}
.modal--wrong {
  padding: 45px 42px 35px 41px;
}
.modal--right {
  padding-top: 36px;
}

.modal__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.modal__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.modal__button {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 18px;
  padding-bottom: 14px;
  border: none;
  font-family: inherit;
}
.modal__button--ok {
  width: 180px;
  height: 58px;
}
.modal__button--close {
  width: 180px;
  height: 58px;
}

.modal__box-button {
  width: 100%;
  height: 98px;
  background: #f2f2f2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */