.advantages {
  @include font-set(18px, 26px, 700);
  position: relative;
  box-sizing: border-box;
  color: $white;

  &::before {
    position: absolute;
    background-image: url("../img/divider-second.svg");
    top: 0;
    left: 0;
    right: 0;
    height: 37px;
    content: "";
  }

  @media (min-width: $tablet) {
    &::before {
      background-image: none;
    }
  }
}

.advantages__row {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.advantages__inform {
  box-sizing: border-box;
  background-color: $basic-blue;
  color: $white;
  text-align: center;
  padding: 37px 18px;

  &--divider {
    padding: 50px 18px 40px 18px;
  }

  @media (min-width: $tablet) {
    width: 256px;
    min-height: 256px;
    padding: 52px 33px 31px 33px;
  }

  @media (min-width: $desktop) {
    width: 400px;
    padding: 52px 50px 51px 50px;
  }
}

.advantages__wrapper-img {
  height: 260px;

  @media (min-width: $tablet) {
    height: 256px;
  }
}

.advantages__title {
  @include font-set(18px, 26px, 700);
  text-transform: uppercase;
  margin-bottom: 11px;

  @media (min-width: $tablet) {
    margin-bottom: 12px;
  }
}

.advantages__number {
  @include font-set(14px, 21px, 400);
  display: inline-block;
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    margin-bottom: 22px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 23px;
  }
}

.advantages__description {
  @include font-set(14px, 21px, 400);
  color: $white;
  text-transform: uppercase;
  margin: 0;
}

.advantages__img {
  @media (min-width: $tablet) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}

.advantages__list {
  @include list-style-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 18px;

  &--icon {
    padding: 23px 18px 46px 18px;
  }

  &--numbers {
    background-color: $gray-background;
  }

  @media (min-width: $tablet) {
    padding: 0;
    flex-direction: row;
  }
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  &--border {
    padding: 24px 8px;
  }

  &--border:not(:last-child) {
    border-bottom: 1px solid $gray-border;
  }

  &--border:nth-child(2) {
    padding: 24px 24px;
  }

  &--border:last-child {
    padding: 24px 12px 28px 12px;
  }

  &--icon {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 7px;
    padding: 0;
    border-bottom: 0;
  }

  &--icon:not(:last-child) {
    margin-bottom: 25px;
  }

  &--housing::before {
    background-image: url("../img/icon-house.svg");
    width: 40px;
    height: 40px;
    content: "";
  }

  &--food::before {
    background-image: url("../img/icon-food.svg");
    width: 40px;
    height: 40px;
    content: "";
    background-repeat: no-repeat;
  }

  &--present::before {
    background-image: url("../img/icon-present.svg");
    width: 40px;
    height: 40px;
    content: "";
  }

  @media (min-width: $tablet) {
    padding: 60px 33px;
    width: 256px;
    margin-bottom: 0;

    &--icon {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    &--housing::before {
      margin-bottom: 26px;
    }

    &--food::before {
      margin-bottom: 26px;
    }

    &--present::before {
      margin-bottom: 14px;
    }

    &--border:not(:last-child) {
      border-bottom: none;
    }

    &--border:nth-child(2) {
      padding: 41px 43px;
    }

    &--border:first-child,
    &--border:last-child {
      padding: 52px 30px;
    }
  }

  @media (min-width: $desktop) {
    width: 400px;

    &--housing {
      padding: 69px 50px;
    }

    &--food {
      padding: 72px 50px 71px 50px;
    }

    &--present {
      padding: 69px 50px 67px 50px;
    }

    &--housing::before {
      margin-bottom: 28px;
    }

    &--food::before {
      margin-bottom: 25px;
    }

    &--present::before {
      margin-bottom: 26px;
    }

    &--border:nth-child(2) {
      padding: 52px 50px 51px 50px;
    }

    &--border:first-child,
    &--border:last-child {
      padding: 63px 50px 41px 50px;
    }
  }
}

.advantages__item-title {
  margin-bottom: 9px;
  color: $black;

  @media (min-width: $tablet) {
    text-align: center;
    margin-bottom: 23px;

    &--numbers {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    &--numbers {
      margin: 0 71px;
    }
  }
}

.advantages__item-number {
  margin-bottom: 22px;
  color: $black-lighter;

  @media (min-width: $tablet) {
    margin: 11px 0 23px 0;
  }

  @media (min-width: $desktop) {
    margin: 13px 0 22px 0;
  }
}

.advantages__item-description {
  @include font-set(14px, 21px, 400);
  color: $black-lighter;
  text-transform: uppercase;
  margin: 0;
  grid-column-start: -1;
  grid-column-end: -2;

  &--center {
    text-align: center;
  }

  @media (min-width: $tablet) {
    text-align: center;
  }
}
