.button {
  box-sizing: border-box;
  color: $white;
  background-color: $basic-blue;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $basic-blue-hover;
    outline: none;
  }

  &:active {
    background-color: $basic-blue-active;
    color: $white-opacity-30;
  }
}
