.catalog {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: $tablet) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.catalog__title {
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 22px;
  }
}

.catalog__description {
  @include font-set(14px, 21px, 400);
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding: 0 105px;

    &--video {
      padding: 0 101px;
    }
  }

  @media (min-width: $desktop) {
    &--video {
      padding: 0 177px;
    }
  }
}

.catalog__list {
  @include list-style-reset;
  margin-top: 45px;
  display: grid;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog__video {
  padding-top: 17px;

  @media (min-width: $tablet) {
    padding-top: 57px;
  }

  @media (min-width: $desktop) {
    padding-top: 66px;
    padding-left: 199px;
    padding-right: 201px;
  }
}

.catalog__video-title {
  @include font-set(30px, 26px, 700);
  margin-bottom: 27px;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.catalog__video-container {
  position: relative;
  margin-top: 38px;

  &::before {
    position: absolute;
    background-image: url("../img/icon-play.svg");
    width: 48px;
    height: 54px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: "";
  }

  @media (min-width: $tablet) {
    margin-top: 88px;
  }

  @media (min-width: $desktop) {
    margin-top: 86px;
  }
}

.catalog__video-show {
  width: 280px;
  height: 177px;

  @media (min-width: $tablet) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}

.catalog__card {
  @media (min-width: $tablet) {
    min-height: 347px;

    &:first-child {
      min-height: 480px;
      grid-column: 1 / -1;
    }
  }
}
