.feedback-form {
  margin-top: 36px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet) {
    margin-top: 64px;
    margin-bottom: 60px;
    padding: 0 60px;
  }

  @media (min-width: $desktop) {
    margin-top: 113px;
    padding: 0 120px;
  }
}

.feedback-form__title {
  @include font-set(18px, 26px, 700);
  margin: 0 0 24px 0;
  padding: 0 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    @include font-set(30px, 26px, 700);
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 29px;
  }
}

.feedback-form__description {
  @include font-set(14px, 21px, 400);
  margin: 0 0 28px 0;
  padding: 0 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    @include font-set(14px, 24px, 400);
    padding: 0 106px 0 107px;
    margin: 0 0 102px 0;
  }

  @media (min-width: $desktop) {
    padding: 0 263px 0 262px;
    margin: 0 0 66px 0;
  }
}

.feedback-form__container {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-bottom: 48px;
    min-height: 338px;
    position: relative;

    &::before {
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $gray-stripe;
      content: "";
    }
  }

  @media (min-width: $desktop) {
    gap: 128px;
    margin-bottom: 56px;

    &::before {
      left: 52%;
      transform: translateX(-6px);
    }
  }
}

.feedback-form__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 24px 20px 0 20px;
  margin: 0 0 39px 0;
  border: none;
  border-top: 1px solid $basic-gray;
  width: 100%;
  box-sizing: border-box;

  &--introduction {
    margin-bottom: 23px;
  }

  &--contacts {
    margin-bottom: 18px;
  }

  &--impression,
  &--visited {
    margin-bottom: 24px;
  }

  &--feelings {
    margin-bottom: 56px;
  }

  @media (min-width: $tablet) {
    border: none;
    margin-bottom: 48px;
    padding: 0;

    &--introduction,
    &--contacts {
      margin: 0;
    }

    &--introduction {
      width: 280px;
    }

    &--contacts {
      width: 298px;
    }

    &--visited {
      margin-bottom: 43px;
    }
  }

  @media (min-width: $desktop) {
    &--introduction {
      width: 430px;
    }

    &--contacts {
      width: 402px;
    }

    &--impression {
      margin-bottom: 57px;
    }

    &--visited {
      margin-bottom: 56px;
    }
  }
}

.feedback-form__group-title {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  float: left;

  @media (min-width: $tablet) {
    width: 100%;
    margin-bottom: 28px;

    &--introduction {
      padding-left: 42px;
    }

    &--left {
      text-align: left;
    }

    &--stripe::before,
    &--stripe::after {
      position: absolute;
      width: 123px;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $gray-stripe;
      content: "";
    }

    &--stripe::before {
      left: 0;
    }

    &--stripe::after {
      right: 0;
    }
  }

  @media (min-width: $desktop) {
    &--introduction {
      padding-left: 65px;
    }

    &--left {
      margin-left: 30px;
    }

    &--stripe::before,
    &--stripe::after {
      width: 280px;
    }
  }
}

.feedback-form__group-text {
  @media (min-width: $tablet) {
    display: inline-block;
    width: 400px;
    margin: 0 auto;
  }
}

.feedback-form__field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    &--gap {
      padding-left: 20px;
    }
  }

  @media (min-width: $desktop) {
    &--gap {
      padding-left: 0;
      padding-right: 30px;
    }
  }
}

.feedback-form__label {
  @include font-set(14px, 21px, 400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  box-sizing: border-box;
  margin-left: 16px;

  &--action {
    text-transform: none;
    margin-left: 0;
  }

  &:hover .feedback-form__mark {
    background-color: $basic-gray;
  }

  &:active {
    .feedback-form__mark {
      background-color: $gray-darker;
    }

    .feedback-form__mark::before {
      opacity: 0.3;
    }
  }
}

.feedback-form__input {
  @include font-set(18px, 26px, 700);
  position: relative;
  font-family: inherit;
  background-color: $gray-lighter;
  padding: 16px;
  color: $black;
  border: none;
  box-sizing: border-box;
  width: 100%;

  &::placeholder {
    color: $black-opacity-30;
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 74px;
  }

  &--mail {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 74px;
  }
}

.feedback-form__list {
  @include list-style-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    &--radio {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      padding: 0 37px 0 36px;
    }

    &--checkbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 32px;
      row-gap: 16px;
      padding: 0 84px;
    }
  }

  @media (min-width: $desktop) {
    &--radio {
      grid-template-columns: auto auto auto;
      gap: 28px;
      min-height: 80px;
      padding: 0 53px;

      .feedback-form__item:nth-child(3n+1) {
        margin-left: 0;
      }

      .feedback-form__item:nth-child(3n) {
        margin-left: auto;
      }
    }

    &--checkbox {
      max-width: 960px;
      grid-template-columns: auto auto auto auto;
      padding: 31px 44px;

      .feedback-form__item:nth-child(4n+1) {
        margin-left: 0;
      }

      .feedback-form__item:nth-child(4n) {
        margin-left: auto;
      }
    }
  }
}

.feedback-form__item {
  display: flex;
  align-items: center;
  min-height: 46px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }
}

.feedback-form__item-text {
  @include font-set(18px, 26px, 700);
}

.feedback-form__mark {
  position: relative;
  width: 46px;
  min-width: 46px;
  height: 46px;
  background-color: $gray-lighter;
  display: block;
  box-sizing: border-box;
  margin-right: 16px;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }
}

.feedback-form__textarea {
  @include font-set(18px, 26px, 700);
  background-color: $gray-lighter;
  font-family: inherit;
  padding: 16px;
  border: none;
  height: 150px;
  box-sizing: border-box;

  &::placeholder {
    color: $black-opacity-30;
  }

  @media (min-width: $tablet) {
    height: 160px;
  }

  @media (min-width: $desktop) {
    margin: 0 96px;
  }
}

.feedback-form__group-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    margin: 0 96px;
  }
}

.feedback-form__button {
  @include font-set(21px, 26px, 700);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  min-height: 58px;
  font-family: inherit;
  border: none;
  margin-bottom: 3px;

  @media (min-width: $tablet) {
    width: 324px;
  }

  @media (min-width: $desktop) {
    width: 384px;
  }
}

.feedback-form__text-required {
  @include font-set(12px, 21px, 400);
  text-transform: uppercase;
  text-align: right;
  color: $gray-lighter-opacity-60;

  @media (min-width: $tablet) {
    @include font-set(14px, 21px, 400);
    align-items: flex-end;
    margin: 23px 0 14px 0;
  }
}

.feedback-form__checkbox {
  &:checked + .feedback-form__mark::before {
    position: absolute;
    background-image: url("../img/icon-tick.svg");
    width: 22px;
    height: 16px;
    left: 12px;
    top: 15px;
    content: "";
  }
}

.feedback-form__radio {
  &:checked + .feedback-form__mark::before {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 15px;
    top: 15px;
    border-radius: 50%;
    background: $black-lighter;
    content: "";
  }
}

.feedback-form__checkbox:focus + .feedback-form__mark,
.feedback-form__radio:focus + .feedback-form__mark {
  background-color: $basic-gray;
}

.feedback-form__input:hover,
.feedback-form__textarea:hover,
.feedback-form__input:focus,
.feedback-form__textarea:focus {
  background-color: $basic-gray;
  outline: none;
}

.feedback-form__input:active,
.feedback-form__textarea:active {
  background-color: $white;
  outline: 4px solid $basic-gray;
  outline-offset: -4px;
}
