.interests {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  padding: 38px 18px 49px 18px;

  @media (min-width: $tablet) {
    padding: 60px 155px 58px 155px;
    min-height: 318px;
  }

  @media (min-width: $desktop) {
    padding: 61px 371px 66px 371px;
    min-height: 331px;
  }
}

.interests__title {
  @include font-set(21px, 26px, 700);
  color: $black;
  text-transform: uppercase;
  margin: 0 0 20px 0;

  @media (min-width: $tablet) {
    @include font-set(30px, 26px, 700);
    margin-bottom: 32px;
  }
}

.interests__description {
  @include font-set(14px, 21px, 400);
  color: $black;
  text-transform: uppercase;
  margin: 0 0 32px 0;
  text-align: center;

  .break-text-tablet {
    display: none;
  }

  @media (min-width: $tablet) {
    margin-bottom: 42px;

    .break-text-tablet {
      display: block;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 46px;
  }
}

.interests__link-button {
  @include font-set(21px, 26px, 700);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 284px;
  min-height: 58px;
  padding: 16px 49px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 14px 121px 17px 121px;
    width: 458px;
  }
}
