.like-button {
  border: none;
  padding: 0;
  background-color: transparent;

  @media (min-width: $desktop) {
    color: $white;
  }
}

.like-button__counter {
  @include font-set(14px, 21px, 700);
  margin-left: 14px;

  @media (min-width: $tablet) {
    margin-left: 9px;
  }
}

.like-button__icon {
  opacity: 0.3;

  @media (min-width: $desktop) {
    opacity: 1;
  }
}
