.navigation {
  position: relative;

  @media (max-width: $mobile-width-only) {
    &--closed {
      width: auto;

      .navigation__list {
        display: none;
      }

      .navigation__button-toggle::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 23px;
        height: 4px;
        background-color: $basic-blue;
        box-shadow: 0 10px 0 0 $basic-blue, 0 20px 0 0 $basic-blue;
      }

      .navigation__button-toggle:hover::before {
        background-color: rgba($basic-blue, 0.6);
        box-shadow: 0 10px 0 0 rgba($basic-blue, 0.6), 0 20px 0 0 rgba($basic-blue, 0.6);
      }
    }

    &--opened {
      .navigation__button-toggle::before,
      .navigation__button-toggle::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 0;
        width: 22px;
        height: 4px;
        background-color: $white;
      }

      .navigation__button-toggle::before {
        transform: rotate(45deg);
      }

      .navigation__button-toggle::after {
        transform: rotate(-45deg);
      }

      .navigation__button-toggle:hover::before,
      .navigation__button-toggle:hover::after {
        background-color: rgba($white, 0.6);
      }

      .navigation__button-toggle:active::before,
      .navigation__button-toggle:active::after {
        background-color: rgba($white, 0.3);
      }

      .navigation__list::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 7px;
        background: $shadow-menu-bottom;
      }
    }

    &--nojs {
      .main-nav__toggle,
      .navigation__logo-link {
        display: none;
      }

      .navigation__list {
        position: static;
        display: block;
      }
    }
  }

  @media (min-width: $tablet) {
    .navigation__list {
      display: grid;
    }
  }
}

.navigation__logo-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 185px;
  height: 96px;
  z-index: 1;
}

.navigation__button-toggle {
  position: absolute;
  background-color: transparent;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  border: none;
  cursor: pointer;
  z-index: 10;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.navigation__list {
  @include list-style-reset;
  @include font-set(18px, 26px, 700);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $basic-blue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  @media (min-width: $tablet) {
    @include font-set(14px, 21px, 700);
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: inherit;


    &::before {
      content: "";
      min-width: 153px;
      grid-column: 3 / 4;
      grid-row: 1 / span 2;
    }
  }
}

.navigation__item {
  box-shadow: $shadow-list;
  width: 100%;

  &:first-child {
    box-shadow: $shadow-list-first;
  }

  &:last-child {
    box-shadow: $shadow-list-last;
  }

  @media (min-width: $tablet) {
    width: auto;
    min-width: 153px;
    box-shadow: none;

    &:first-child {
      box-shadow: none;
    }
  }

  @media (min-width: $desktop) {
    min-width: 240px;
  }
}

.navigation__link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 17px 20px 12px 20px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    &:hover,
    &:focus {
      background-color: $basic-blue-hover;
      box-shadow: $shadow-list;
      outline: none;
    }

    &:active {
      background-color: $basic-blue-active;
      color: rgba($white, 0.3);
      box-shadow: $shadow-list;
    }
  }

  @media (min-width: $tablet) {
    color: $black;
    min-height: 56px;

    &--current {
      color: $basic-brown;
    }

    &:hover,
    &:focus {
      color: $basic-blue;
      outline: none;
    }

    &:active {
      color: rgba($black, 0.3);
    }
  }
}
