.navigation {
  position: relative;
}

.navigation__logo-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 185px;
  height: 96px;
  z-index: 1;
}

.navigation__button-toggle {
  background-image: url("../img/icon-toggle.svg");
  width: 23px;
  height: 22px;
  border: none;

  @media (min-width: $tablet) {
    display: none;
  }
}

.navigation__list {
  @include list-style-reset;
  @include font-set(18px, 26px, 700);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $basic-blue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  @media (min-width: $tablet) {
    @include font-set(14px, 21px, 700);
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: inherit;


    &::before {
      content: "";
      min-width: 153px;
      grid-column: 3 / 4;
      grid-row: 1 / span 2;
    }
  }
}

.navigation__item {
  box-shadow: $shadow-list;
  width: 100%;

  &:first-child {
    box-shadow: $shadow-list-first;
  }

  &:last-child {
    box-shadow: $shadow-list-last;
  }

  @media (min-width: $tablet) {
    width: auto;
    min-width: 153px;
    box-shadow: none;

    &:first-child {
      box-shadow: none;
    }
  }

  @media (min-width: $desktop) {
    min-width: 240px;
  }
}

.navigation__link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 55px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  text-align: center;

  @media (min-width: $tablet) {
    color: $black;
    height: 56px;

    &--current {
      color: $basic-brown;
    }
  }
}
