.promo {
  position: relative;
  box-sizing: border-box;
  min-height: 158px;
  background-color: $basic-blue;
  background-image: url("../img/back-main-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 52px;
  padding-bottom: 67px;
  text-align: center;

  &--main {
    min-height: 389px;
    padding-top: 90px;
    padding-bottom: 85px;
  }

  &::before {
    position: absolute;
    background-image: url("../img/divider.svg");
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 57px;
    width: 100%;
    content: "";
  }

  @media (min-width: $tablet) {
    min-height: 290px;
    padding: 95px 0 117px 0;
  }

  @media (min-width: $desktop) {
    min-height: 301px;
    padding: 101px 0 120px 0;
  }
}
