@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  min-height: 100%;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }
}

.button {
  box-sizing: border-box;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  min-height: 56px;
}

.navigation {
  position: relative;
}

.navigation__logo-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 185px;
  height: 96px;
  z-index: 1;
}

.navigation__button-toggle {
  background-image: url("../img/icon-toggle.svg");
  width: 23px;
  height: 22px;
  border: none;
}
@media (min-width: 768px) {
  .navigation__button-toggle {
    display: none;
  }
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #81b3d2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
@media (min-width: 768px) {
  .navigation__list {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: inherit;
  }
  .navigation__list::before {
    content: "";
    min-width: 153px;
    grid-column: 3/4;
    grid-row: 1/span 2;
  }
}

.navigation__item {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  width: 100%;
}
.navigation__item:first-child {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}
.navigation__item:last-child {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .navigation__item {
    width: auto;
    min-width: 153px;
    box-shadow: none;
  }
  .navigation__item:first-child {
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .navigation__item {
    min-width: 240px;
  }
}

.navigation__link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 55px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .navigation__link {
    color: #000000;
    height: 56px;
  }
  .navigation__link--current {
    color: #766357;
  }
}

.promo {
  position: relative;
  box-sizing: border-box;
  min-height: 158px;
  background-color: #81b3d2;
  background-image: url("../img/back-main-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 52px;
  padding-bottom: 67px;
  text-align: center;
}
.promo--main {
  min-height: 389px;
  padding-top: 90px;
  padding-bottom: 85px;
}
.promo::before {
  position: absolute;
  background-image: url("../img/divider.svg");
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
  content: "";
}
@media (min-width: 768px) {
  .promo {
    min-height: 290px;
    padding: 95px 0 117px 0;
  }
}
@media (min-width: 1200px) {
  .promo {
    min-height: 301px;
    padding: 101px 0 120px 0;
  }
}

.inform {
  padding: 32px 18px 33px 18px;
  text-align: center;
}
@media (min-width: 768px) {
  .inform {
    max-width: 484px;
    margin: 0 auto;
  }
}

.inform__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .inform__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

.inform__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.advantages {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  position: relative;
  box-sizing: border-box;
  color: #ffffff;
}
.advantages::before {
  position: absolute;
  background-image: url("../img/divider-second.svg");
  top: 0;
  left: 0;
  right: 0;
  height: 37px;
  content: "";
}
@media (min-width: 768px) {
  .advantages::before {
    background-image: none;
  }
}

.advantages__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .advantages__row {
    flex-direction: row;
  }
}

.advantages__inform {
  box-sizing: border-box;
  min-height: 211px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  padding: 37px 18px;
}
.advantages__inform--divider {
  padding: 54px 18px 40px 18px;
}
@media (min-width: 768px) {
  .advantages__inform {
    width: 256px;
    min-height: 256px;
    padding: 52px 33px 31px 33px;
  }
}
@media (min-width: 1200px) {
  .advantages__inform {
    width: 400px;
    padding: 52px 50px 51px 50px;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .advantages__title {
    margin-bottom: 12px;
  }
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .advantages__number {
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .advantages__number {
    margin-bottom: 23px;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 768px) {
  .advantages__img {
    width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages__img {
    width: 800px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 18px 28px 18px;
}
.advantages__list--icon {
  padding: 23px 18px 46px 18px;
}
.advantages__list--numbers {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .advantages__list {
    padding: 0;
    flex-direction: row;
  }
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.advantages__item--border {
  padding: 24px 8px;
}
.advantages__item--border:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}
.advantages__item--icon {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 7px;
  padding: 0;
  border-bottom: 0;
}
.advantages__item--icon:not(:last-child) {
  margin-bottom: 25px;
}
.advantages__item--housing::before {
  background-image: url("../img/icon-house.svg");
  width: 40px;
  height: 40px;
  content: "";
}
.advantages__item--food::before {
  background-image: url("../img/icon-food.svg");
  width: 40px;
  height: 40px;
  content: "";
  background-repeat: no-repeat;
}
.advantages__item--present::before {
  background-image: url("../img/icon-present.svg");
  width: 40px;
  height: 40px;
  content: "";
}
@media (min-width: 768px) {
  .advantages__item {
    padding: 60px 33px;
    width: 256px;
    margin-bottom: 0;
  }
  .advantages__item--icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .advantages__item--housing::before {
    margin-bottom: 26px;
  }
  .advantages__item--food::before {
    margin-bottom: 26px;
  }
  .advantages__item--present::before {
    margin-bottom: 14px;
  }
  .advantages__item--border {
    padding: 41px 33px;
  }
  .advantages__item--border:first-child, .advantages__item--border:last-child {
    padding: 52px 53px;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    width: 400px;
  }
  .advantages__item--housing {
    padding: 69px 50px;
  }
  .advantages__item--food {
    padding: 72px 50px 71px 50px;
  }
  .advantages__item--present {
    padding: 69px 50px 67px 50px;
  }
  .advantages__item--housing::before {
    margin-bottom: 28px;
  }
  .advantages__item--food::before {
    margin-bottom: 25px;
  }
  .advantages__item--present::before {
    margin-bottom: 26px;
  }
  .advantages__item--border {
    padding: 52px 50px 51px 50px;
  }
  .advantages__item--border:first-child, .advantages__item--border:last-child {
    padding: 63px 50px 41px 50px;
  }
}

.advantages__item-title {
  margin-bottom: 9px;
  color: #000000;
}
@media (min-width: 768px) {
  .advantages__item-title {
    text-align: center;
    margin-bottom: 23px;
  }
  .advantages__item-title--numbers {
    margin-bottom: 0;
  }
}

.advantages__item-number {
  padding-bottom: 22px;
  color: #333333;
}
@media (min-width: 768px) {
  .advantages__item-number {
    margin: 11px 0 23px 0;
  }
}
@media (min-width: 1200px) {
  .advantages__item-number {
    margin: 13px 0 22px 0;
  }
}

.advantages__item-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  grid-column-start: -1;
  grid-column-end: -2;
}
@media (min-width: 768px) {
  .advantages__item-description {
    text-align: center;
  }
}

.interests {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  padding: 38px 18px 49px 18px;
}
@media (min-width: 768px) {
  .interests {
    padding: 60px 166px 58px 167px;
    height: 318px;
  }
}
@media (min-width: 1200px) {
  .interests {
    padding: 61px 371px 66px 371px;
    height: 331px;
  }
}

.interests__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .interests__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 21px;
  }
}

.interests__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 32px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .interests__description {
    margin-bottom: 40px;
  }
}

.interests__link-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  min-width: 284px;
  min-height: 58px;
  padding: 16px 49px;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .map {
    margin-bottom: 0;
  }
}

.map__img {
  width: 100%;
  height: 350px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 28px 18px 23px 18px;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    padding: 36px 76px 36px 45px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 36px 136px 36px 104px;
  }
}

.footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 166px;
  text-align: center;
  color: #000000;
  margin-bottom: 33px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__hashtag {
    margin-bottom: 0;
  }
}

.footer__social {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__social {
    margin-bottom: 0;
  }
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__social-item:not(:last-child) {
  padding-right: 6px;
}

.footer__social-button {
  background-color: #81b3d2;
  padding: 12px;
  display: inline-block;
  box-sizing: border-box;
  height: 48px;
  width: 48px;
}

.footer__copyright-link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__copyright-logo {
  margin-left: 12px;
}

.catalog {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .catalog {
    padding: 0;
  }
}

.catalog__title {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .catalog__title {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .catalog__title {
    margin-bottom: 22px;
  }
}

.catalog__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog__description {
    padding: 0 105px;
  }
  .catalog__description--video {
    padding: 0 101px;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 45px;
  display: grid;
}
@media (min-width: 768px) {
  .catalog__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog__video {
  padding-top: 17px;
}
@media (min-width: 768px) {
  .catalog__video {
    padding-top: 57px;
  }
}
@media (min-width: 1200px) {
  .catalog__video {
    padding-top: 66px;
  }
}

.catalog__video-title {
  font-size: 30px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .catalog__video-title {
    margin-bottom: 24px;
  }
}

.catalog__video-image {
  margin-top: 38px;
}
@media (min-width: 768px) {
  .catalog__video-image {
    width: 648px;
    height: 500px;
    margin-top: 88px;
  }
}
@media (min-width: 1200px) {
  .catalog__video-image {
    width: 800px;
    margin-top: 86px;
  }
}

@media (min-width: 768px) {
  .catalog__card {
    min-height: 347px;
  }
  .catalog__card:first-child {
    min-height: 480px;
    grid-column: 1/-1;
  }
}

.card {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 0 25px 0;
  box-sizing: border-box;
}
.card:first-child {
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .card {
    padding: 0;
    border-bottom: none;
  }
  .card:first-child {
    border-top: none;
  }
}

.card__image {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .card__image {
    margin-bottom: 0;
    width: 324px;
    height: 267px;
  }
  .card:first-child .card__image {
    width: 648px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .card__image {
    width: 400px;
  }
  .card:first-child .card__image {
    width: 1200px;
  }
}

.card__description {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .card__description {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    min-height: 80px;
    background-color: #f2f2f2;
    padding: 22px 20px 15px 20px;
  }
}
@media (min-width: 1200px) {
  .card__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}

.card__title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 1px 0;
  text-align: left;
}

.card__author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 11px;
  text-align: left;
}
@media (min-width: 768px) {
  .card__author {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .card__button {
    grid-column: -1/-2;
    grid-row: -3/-1;
  }
}

.feedback-form {
  margin-top: 36px;
  margin-bottom: 24px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .feedback-form {
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .feedback-form {
    margin-top: 115px;
    padding: 0 120px;
  }
}

.feedback-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 24px 0;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .feedback-form__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__title {
    margin-bottom: 27px;
  }
}

.feedback-form__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 28px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .feedback-form__description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding: 0 106px 0 107px;
    margin-bottom: 102px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__description {
    padding: 0 263px 0 262px;
    margin-bottom: 66px;
  }
}

@media (min-width: 768px) {
  .feedback-form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__container {
    margin-bottom: 56px;
  }
}

.feedback-form__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: 0 0 39px 0;
  border: none;
}
.feedback-form__group--introduction {
  margin-bottom: 23px;
}
.feedback-form__group--contacts {
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .feedback-form__group {
    margin-bottom: 48px;
  }
  .feedback-form__group--introduction, .feedback-form__group--contacts {
    margin: 0;
  }
}

.feedback-form__group-title {
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .feedback-form__group-title {
    margin-bottom: 28px;
  }
}

.feedback-form__field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form__label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  padding-left: 16px;
}
.feedback-form__label--action {
  padding-left: 62px;
  text-transform: none;
}

.feedback-form__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  font-family: inherit;
  background-color: #f2f2f2;
  padding: 16px;
  color: #000000;
  border: none;
}
.feedback-form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.feedback-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feedback-form__list--radio {
    padding: 0 37px 0 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .feedback-form__list--checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 16px;
    margin-bottom: 42px;
    padding: 0 84px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__list--radio {
    grid-template-columns: auto auto auto;
    gap: 28px;
    min-height: 80px;
  }
  .feedback-form__list--checkbox {
    grid-template-columns: auto auto auto auto;
    gap: 64px;
    margin-bottom: 56px;
    padding: 31px 44px;
  }
}

.feedback-form__item {
  display: flex;
  align-items: center;
  min-height: 46px;
}
.feedback-form__item:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .feedback-form__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.feedback-form__item-text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback-form__mark {
  position: absolute;
  left: 0;
  top: -12px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  content: "";
}
.feedback-form__mark--radio {
  border-radius: 50%;
}
.feedback-form__mark--checkbox {
  border-radius: 4px;
}

.feedback-form__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  font-family: inherit;
  padding: 16px;
  border: none;
  height: 150px;
  box-sizing: border-box;
}
.feedback-form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .feedback-form__textarea {
    height: 160px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__textarea {
    margin: 0 96px;
  }
}

.feedback-form__group-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
@media (min-width: 768px) {
  .feedback-form__group-button {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .feedback-form__group-button {
    margin: 0 96px;
  }
}

.feedback-form__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 58px;
  font-family: inherit;
  border: none;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .feedback-form__button {
    width: 324px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__button {
    width: 384px;
  }
}

.feedback-form__text-required {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
}
@media (min-width: 768px) {
  .feedback-form__text-required {
    align-items: flex-end;
    margin: 23px 0 14px 0;
  }
}

.modal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  position: relative;
}
.modal--wrong {
  padding: 45px 42px 35px 41px;
}
.modal--right {
  padding: 39px 39px 128px 37px;
}
@media (min-width: 768px) {
  .modal {
    height: 347px;
  }
  .modal--wrong {
    max-width: 400px;
  }
  .modal--right {
    padding: 52px 99px 146px 97px;
    max-width: 640px;
  }
}

.modal__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .modal__title {
    margin-bottom: 25px;
  }
}

.modal__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 28px 0;
}
@media (min-width: 768px) {
  .modal__text {
    margin: 0 16px 57px 17px;
  }
  .modal__text--wide {
    margin: 0 16px 42px 16px;
  }
}

.modal__button {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 18px;
  padding-bottom: 14px;
  border: none;
  font-family: inherit;
}
.modal__button--ok {
  width: 180px;
  height: 58px;
}
.modal__button--close {
  width: 180px;
  height: 58px;
}
@media (min-width: 768px) {
  .modal__button--ok {
    width: 272px;
  }
  .modal__button--close {
    width: 458px;
  }
}

.modal__box-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 98px;
  background: #f2f2f2;
  text-align: center;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .modal__box-button {
    height: 146px;
  }
}

.container {
  width: 320px;
  background-color: #ffffff;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    box-sizing: border-box;
    width: 1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}

.like-button {
  border: none;
  padding: 0;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .like-button {
    color: #ffffff;
  }
}

.like-button__counter {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin-left: 14px;
}
@media (min-width: 768px) {
  .like-button__counter {
    margin-left: 9px;
  }
}

.like-button__icon {
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .like-button__icon {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */